.font-sans {
  font-family: var(--barlow-font);
}

@media (width < 128.25rem) {

}
@media (width < 88.125rem) {
}

@media (width < 1200px) {
  
  .navbar__nav-section-list{
    display: none;
  }
  .navbar__nav-icon-list{
    display: block;
  }
  .navbar__search-field {
    font-size: 1.5rem;
  }
  .navbar__nav-icon-search{
    display: block table;
  }
  .navbar__nav-pics-logo{
    width:8rem;
  }
  .navbar__nav-profile{
    display: none;
  }
}
@media (max-width: 900px) {
  .navbar__nav-pics-logo{
    width:5rem;
    flex-shrink: 0;
  }
  .categorie__movies {
    grid-template-columns: repeat(1, 1fr);
  }
}