@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500;9..40,700&display=swap");

:root {
  /* Primitive Tokens */
  --color-black: hsl(253, 69%, 8%);
  --color-bright: hsl(0, 0%, 100%);
  --color-gray-light: hsl(0, 0%, 80%);
  --color-gray: hsl(0, 0%, 50%);
  --color-gray-dark: hsl(0, 0%, 20%);
  --ff-sans: "DM sans", sans-serif;
  --color-dark: hsl(0, 0%, 0%);
  --color-grey-bg: hsl(0, 0%, 100%);
  --color-blue-detail: rgb(25, 27, 48); 
  --color-blue-detail-light: rgba(84, 89, 172, 0.5);
  --color-text: rgb(38,55,92);
  --color-text-important: rgb(234,65,93);



  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-gray-dark);

  --barlow-font: "Barlow", sans-serif;
}
