#header{
  z-index: 1000;
}







.navbar {
  padding-inline: 8.16667%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-bright);
  color: var(--color-text);
  /* border: red solid 1px; */
  height: 7.75rem;
}

.navbar__nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  border: red solid 1px;
}
.navbar__nav-section{
  display: flex;
  border: green solid 1px;
  flex-direction: row;
}


.navbar__nav-section-list {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: purple solid 1px; */
}

.navbar__nav-section-item, .navbar__nav-section-item-important {
  justify-self: center;
  align-self: center; 
  font-size: 1.125rem;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.navbar__nav-section-item:hover {
  color: var(--color-text-important);
}


.navbar__nav-section-item-important{
  color: var(--color-text-important);
}




.navbar__nav-pics-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: green solid 1px; */
}

.navbar__nav-pics-label {
  font-size: 1.125rem;
  color: var(--color-text);
}

.navbar__nav-pics-select, .navbar__search {
  height: auto; /* S'adapte à la hauteur du contenu */
  width: auto; /* S'adapte à la largeur du contenu */
  padding: 0.5rem;
  border: none;
  color: var(--color-gray-light);
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}









.navbar__search {
  padding-inline: 8.16667%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bright);
  transition: transform 0.3s ease;
  z-index: 10;
  transform: translateY(-100%);
  border: purple solid 1px;
  padding-block: 1rem;
  padding-left: 2rem;
}

.navbar__search--visible {
  transform: translateY(0%);
}
.navbar__search-field {
  height: 100%;
  width: 100%;
  flex: 1;
  font-size: 3rem;
  border: none;
  outline: none;
}

.navbar__search-close{
  display: flex;
  height: 50%;
}

.navbar__search-close, .navbar__list-close{
  border: none;
  transition: scale 0.3s ease;
} 

.navbar__search-close path{
  stroke: var(--color-text);
  opacity: 35%;
}

.navbar__list-close{
  width: 5rem;
}
.navbar__list-close path{
  stroke: var(--color-text);
  opacity: 35%;
  transition: opacity 0.3s ease;
}
.navbar__list-close:hover path{
  opacity: 100%;
}



.navbar__search-close:hover , .navbar__list-close:hover{
  scale: 1.1;
  cursor: pointer;
}

.navbar__search::placeholder {
  color: var(--color-text);
  opacity: 35%;
}


.navbar__nav-section-toggle-search {
  /* border: orange solid 1px; */
  width: 1.125rem;
  min-width: 1.125rem;
  transform: rotate(90deg); /* Utilisez transform au lieu de rotate */
  justify-self: center; /* Centre l'élément horizontalement */
  align-self: center; /* Centre l'élément verticalement */
}

.navbar__nav-section-toggle-search:hover path {
  stroke: var(--color-text-important); /* Change la couleur du contour */
  cursor: pointer;
}

.navbar__nav-section-toggle-list {
  display: none;
  width: 1.125rem;
  min-width: 1.125rem;
  justify-self: center; /* Centre l'élément horizontalement */
  align-self: center; /* Centre l'élément verticalement */
}

.navbar__nav-section-toggle-list:hover path {
  cursor: pointer;
}



.navbar__nav-pics{
  border: salmon solid 1px;
  display: flex;
  flex-direction: row;
}

.navbar__nav-select:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar__nav-pics-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-primary);
  overflow: hidden;
}

.navbar__nav-picture-pics-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navbar__nav-pics-logo {
  /* border: royalblue solid 1px; */
  width:10.25rem;
}


.navbar__nav-pics-logo-img {
  /* border: royalblue solid 1px; */
  width:100%;
}

.navbar__nav-logo:hover {
  cursor: pointer;
}
.navbar__nav-list-hidden {
  z-index: 500;
  padding-inline: 8.16667%;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bright);
  transition: transform 0.3s ease-in;
  z-index: 10;
  transform: translateY(-100%);
  border: purple solid 1px;
}

.navbar__nav-list-hidden--visible {
  transform: translateY(0%); 
}


.no-scroll {
  overflow: hidden;
}

.navbar__list-close{
  position: absolute;
  top: 3rem;
  right: 3rem;
}