.navbar {
  padding-inline: 8.16667%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: var(--color-bright);
  color: var(--color-text);
  /* border: red solid 1px; */
  height: 8.75rem;
}

.navbar__grid {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  border: red solid 1px;
}



.navbar__grid-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  /* border: purple solid 1px; */
}

.navbar__grid-item {
  justify-self: center;
  align-self: center; 
  font-size: 1.125rem;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.navbar__grid-item:hover {
  color: var(--color-text-important);
}

.navbar__grid-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* border: green solid 1px; */
}

.navbar__grid-label {
  font-size: 1.125rem;
  color: var(--color-text);
}

.navbar__grid-select, .navbar__search {
  height: auto; /* S'adapte à la hauteur du contenu */
  width: auto; /* S'adapte à la largeur du contenu */
  padding: 0.5rem;
  border: none;
  color: var(--color-gray-light);
  font-size: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}









.navbar__search {
  padding-inline: 8.16667%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bright);
  transition: transform 0.3s ease;
  z-index: 10;
  transform: translateY(-100%);
  border: purple solid 1px;
}

.navbar__search--visible {
  transform: translateY(0%);
}
.navbar__search-field {
  height: 100%;
  width: 100%;
  flex: 1;
  font-size: 3rem;
  border: none;
  outline: none;
}
.navbar__grid-search-close {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 0.5rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.navbar__grid-search-close:hover {
  background-color: red;
}

.navbar__search::placeholder {
  color: var(--color-text);
  opacity: 35%;
}


.navbar__grid-toggle-search {
  /* border: orange solid 1px; */
  width: 1.25rem;
  transform: rotate(90deg); /* Utilisez transform au lieu de rotate */
  justify-self: center; /* Centre l'élément horizontalement */
  align-self: center; /* Centre l'élément verticalement */
}

.navbar__grid-toggle-search:hover path {
  stroke: var(--color-text-important); /* Change la couleur du contour */
}







.navbar__grid-select:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar__grid-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--color-primary);
  overflow: hidden;
}

.navbar__grid-picture-img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.navbar__grid-logo {
  /* border: royalblue solid 1px; */
  width:11.5rem;
}


@media (width < 128.25rem) {
  
}
@media (width < 88.125rem) {

}
@media (width < 59.125rem) {

}