#movies__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 3rem;
  width: 100%;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  /* background-color: rgb(32, 49, 241); */
  /* border: blue solid 1px; */
}

.categorie__title{
  color: var(--color-white);
  margin: 0;
  padding: 0rem;
}

.categorie{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* border: green solid 1px; */
}

.categorie__movies{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5rem 1rem;
  width: 100%;
  /* border: purple 1px solid; */
}


.categorie__ul-svg{
  fill: var(--color-white)
}




.categorie__title{
  font-size: 2rem;
}