<div class="Detail">
  <div class="Detail__left">
    <h2 class="Detail__left-title">{{name}}</h2>
    <div>
      <h2 class="Detail__left-real">{{real}}</h2>
      <img class="Detail__left-img" src="https://mmi.unilim.fr/~villoutreix8/SAE2.03-NinoVilloutreix/server/images/{{image}}">
    </div>
  </div>
  <div class="Detail__right"></div>
    <p class="Detail__right-description">{{description}}</p>
    <iframe width="1250" height="703" src="{{trailer}}" title="🚸 WALL-E Bande Annonce VF 2008 HD" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>

