<div class="AddMovie">
  <h2 class="AddMovie__title"># Ajouter un film</h2>
  <form class="AddMovie__form">
    
    <input required type="text" name="Titre" id="nom" placeholder="Saisir un nom...">
    <input required type="text" name="Réalisateur" id="nom" placeholder="Saisir un nom de réalisateur...">
    <input required type="number" name="Année" id="nom" placeholder="Saisir l'année de sortie...">
    <input required type="text" name="Durée" id="nom" placeholder="Saisir la durée...">
    <input required type="text" name="Description" id="nom" placeholder="Saisir une description...">
    <input required type="text" name="Catégorie" id="nom" placeholder="Saisir une catégorie...">
    <input required type="text" name="Image" id="nom" placeholder="Saisir l'affiche publicitaire...">
    <input required type="text" name="URL" id="nom" placeholder="Saisir l'URL...">
    <input required type="number" name="Age" id="nom" placeholder="Saisir la limite d'âge...">
    <input onclick="{{handler}}" type="button" value="Add" name="todo">

  </form>
</div>
