<div class="AddMovie">
  <h2 class="AddMovie__title"># Ajouter un film</h2>
  <form class="AddMovie__form">
    
    <input required type="text" name="name" id="name" placeholder="Saisir un nom...">
    <input required type="text" name="real" id="real" placeholder="Saisir un nom de réalisateur...">
    <input required type="number" name="year" id="year" min="1895" max="2100"placeholder="Saisir l'année de sortie...">
    <input required type="text" name="length" id="length" placeholder="Saisir la durée...">
    <input required type="text" name="description" id="description" placeholder="Saisir une description...">

    <select required type="text" name="categorie" placeholder="Catégorie">
      <option value ="" disabled selected>Sélectionner une catégorie</option>
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Science-fiction</option>
      <option value="5">Animation</option>
      <option value="6">Thriller</option>
      <option value="7">Horreur</option>
      <option value="8">Aventure</option>
      <option value="9">Fantaisie</option>
      <option value="10">Documentaire</option>
    </select>

    <input required type="text" name="image" id="image" placeholder="Saisir l'affiche publicitaire...">
    <input required type="text" name="trailer" id="=url" placeholder="Saisir l'URL...">
    <input required type="number" name="pegi" id="pegi" placeholder="Saisir la limite d'âge...">
    <input onclick="{{handler}}" type="button" value="Add" name="todo">

  </form>
</div>
