<div class="ModifyProfile">
    <h4 class="ModifyProfile__title">Ajouter un Profil :></h4>
    <form class="ModifyProfile__form">
    <select id="profile-select" class="ModifyProfile__form-menu" onchange="{{handlerMod}}">
        <option value="">Sélectionner un profil existant</option>
        {{options}}
    </select>
        <div class="ModifyProfile__form-inputs">
            <input class="ModifyProfile__form-inputs-field" id="profile-name" type="text" name="name" placeholder="Nom du profil..." required>
            <input class="ModifyProfile__form-inputs-field" id="profile-avatar" type="text" name="avatar" placeholder="Avatar du profil..." >
            <input class="ModifyProfile__form-inputs-field" id="profile-min-age" type="date" name="min_age" placeholder="Date de naissance..."  required >
        </div>
        <input class="ModifyProfile__form-button" onclick="{{handler}}" type="button" value="Add" name="todo">
    </form>
</div>

  