#featured {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-grey-bg);
}



.title{
  color: var(--color-white);
  margin: 0;
  padding: 0rem;
  font-size: 2rem;
}

.featured{
  display: flex;
  border: purple 1px solid;
  flex-direction: row;
  gap: 2rem
}
.featured-card {
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 15rem;
  box-sizing: border-box;
  margin-top: 1rem;
  /* border: red solid 1px; */
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.featured-card:hover {
  transform: scale(1.05);
  /* cursor: pointer; */
}

.featured-card__click-img-c {
  display: flex;
  width: 15rem;
  height: 22.5rem;
  overflow: hidden;
  border: 2px solid var(--color-gray);
  border-radius: 0.25rem;
}

.featured-card__click-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-card__click-name {
  font-size: 1.75rem;
  color: var(--color-bright);
  margin: 0;
  text-align: center;
}

@media (width > 59.125rem) {
  .featured-card__click-name {
    font-size: 1.5rem;
  }
}



.featured-card__heart, .featured-card__trash {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.featured-card__description {
  text-align: center;
}










.featured__heart{
  z-index: 5;
  opacity: 50%;
}


.featured__trash{
  z-index: 5;
  left: 1rem;
  opacity: 50%;
}

.featured__heart:hover , .featured__trash:hover {
  transform: scale(1.5);
  cursor: pointer;
  opacity: 100%;
}



.featured__heart-clicked {
  animation: beat 1s ease-out;
}







@keyframes beat {
  0% { transform: scale(150%); }
  17% { transform: scale(80%); }
  34% { transform: scale(120%); }
  51% { transform: scale(85%); }
  68% { transform: scale(105%); }
  85% { transform: scale(95%); }
  100% { transform: scale(100%); }
}