#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: rgb(255, 175, 175);
}

.Movie {
  flex: 20%;
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: blue solid 1px;
}

.Movie__img {
  width: 100%; /* Adapter à la largeur du parent */
  height: auto; /* Respecter le ratio d'origine */
  overflow: hidden;
  object-fit: cover; /* Ajuster sans distorsion */
  border: 1px solid #ccc;
}

