#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-grey-bg);
  border:blue solid 1px;
}

.Movie {
  flex: 0 1 calc(12.5% - 2rem); /* Chaque carte occupe 12.5% de la largeur (1/8) */
  max-width: 12.5%; /* Limite la largeur maximale à 12.5% */
  display: flex;
  flex-shrink: 0;
  height: 20rem; /* Hauteur dynamique si nécessaire */
  position: relative;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border:red solid 1px;
}


.Movie:hover{
  transform: scale(1.05);
  cursor: pointer;
}

.Movie__img {
  display: block;
  position: relative;
  width: 100%; /* Fixe une largeur spécifique */
  height: 20vw;
  object-fit: cover; /* Maintient les proportions de l'image en remplissant l'espace */
  overflow: hidden; /* Coupe les débordements */
  border: 2px solid var(--color-gray);
  border-radius: 0.25rem;
  /* border:green solid 1px; */
}

.Movie__name{
  height: 1vw;
  color: var(--color-white);
  margin: 0;
  padding-bottom: 2rem;
  text-align: center;
  /* border:blue solid 1px; */
}