#content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: rgb(255, 175, 175);
}

.Movie__row {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  border: blue solid 1px;
}
.Movie__row-img{
  overflow: hidden;
  width: 200px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
  width: 100%; /* adapter à la largeur */
  height: 100%; /* adapter à la hauteur */
  object-fit: cover; /* recadre sans distorsion */
}
