#content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-grey-bg);
  z-index: 0;
}

.movie {
  display: flex;
  flex-shrink: 0;
  position: relative;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 10rem;
  box-sizing: border-box;
}

.movie:hover {
  /* cursor: pointer; */
}


.movie__click-img-c {
  position: relative;
  display: flex;
  width: 10rem;
  height: 15rem;
  overflow: hidden;
}

.movie__click-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.movie__click-gradient{
  position: absolute;
  background: linear-gradient(#f69c3c00, #ff4f8471);
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0%;
  transition: opacity 0.3s ease;
}

.movie__click-gradient:hover{
  opacity: 100%;
}

.movie__click-name {
  font-size: 1.75rem;
  color: var(--color-bright);
  margin: 0;
  text-align: center;
}

@media (width > 59.125rem) {
  .movie__click-name {
    font-size: 1.5rem;
  }
}



.movie__heart, .movie__trash {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.movie__heart{
  z-index: 100;
  opacity: 50%;
}


.movie__trash{
  z-index: 100;
  left: 1rem;
  opacity: 50%;
}

.movie__heart:hover , .movie__trash:hover {
  transform: scale(1.5);
  cursor: pointer;
  opacity: 100%;
}



.movie__heart-clicked {
  animation: beat 1s ease-out;
}




/* .hidden{
  display: none;
} */


@keyframes beat {
  0% { transform: scale(150%); }
  17% { transform: scale(80%); }
  34% { transform: scale(120%); }
  51% { transform: scale(85%); }
  68% { transform: scale(105%); }
  85% { transform: scale(95%); }
  100% { transform: scale(100%); }
}

