#content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem;
  color: var(--color-fg);
  background-color: var(--color-grey-bg);
  z-index: 0;
  font-family: var(--barlow-font);
}

.movie {
  border: red solid 1px;
  position: relative;
  display: flex; /* Maintient la flexibilité de l'intérieur si nécessaire */
  flex-direction: column; /* Assure une disposition verticale */
  justify-content: center; /* Centre le contenu verticalement */
  align-items: center; /* Centre le contenu horizontalement */
  width: 100%; /* Prend toute la largeur disponible */
  height: 100%; /* Prend toute la hauteur disponible */
  box-sizing: border-box; /* Inclut les bordures et paddings dans la taille totale */
  aspect-ratio: 16 / 10;
  overflow: hidden;
  transform: scale(0.975);
  transition: transform 0.6s ease; /* Animation fluide de la transformation */
}

.animate {
  transform: scale(1); /* Taille finale */
  border: 50px solid red; /* Ajout pour vérification visuelle */
}

.movie:hover {
  /* cursor: pointer; */
}

.movie__click {
  position: relative;
  display: flex; /* Active une disposition flexible */
  flex-direction: column; /* Place les enfants en colonne */
  justify-content: center; /* Centre verticalement les enfants */
  align-items: center; /* Centre horizontalement les enfants */
  width: 100%; /* Remplit toute la largeur disponible */
  height: 100%; /* Remplit toute la hauteur disponible */
  text-decoration: none; /* Supprime les soulignements (si nécessaire pour les liens) */
}


.movie__click-img-c {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
}

.movie__click-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.movie__click-gradient{
  position: absolute;
  background: linear-gradient(#f69c3c00, #ff4f8471);
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0%;
  transition: opacity 0.3s ease;
}

.movie__click-gradient:hover{
  opacity: 100%;
}

.movie__click-name {
  z-index: 10;
  bottom: 1rem;
  left: 1rem;
  position: absolute;
  font-size: calc(1rem + 1vw);
  color: var(--color-bright);
  margin: 0;
  text-align: center;
}


.movie__heart, .movie__trash {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: calc(2vw + 1rem); /* Largeur proportionnelle à la taille de la page */
  height: calc(2vw + 1rem); /* Hauteur proportionnelle à la taille de la page */
}


.movie__heart{
  z-index: 100;
  opacity: 50%;
}


.movie__trash{
  z-index: 100;
  left: 1rem;
  opacity: 50%;
}

.movie__heart:hover , .movie__trash:hover {
  transform: scale(1.5);
  cursor: pointer;
  opacity: 100%;
}



.movie__heart-clicked {
  animation: beat 1s ease-out;
}




/* .hidden{
  display: none;
} */


@keyframes beat {
  0% { transform: scale(150%); }
  17% { transform: scale(80%); }
  34% { transform: scale(120%); }
  51% { transform: scale(85%); }
  68% { transform: scale(105%); }
  85% { transform: scale(95%); }
  100% { transform: scale(100%); }
}

