#featured{
  z-index: 0;
}

.featured {
  padding-inline: clamp(1rem, 4vw, 12rem); /* Padding dynamique */
  max-width: 88rem; /* Largeur maximale */
  width: 100%; /* Largeur dynamique */
  margin: 0 auto; /* Centrage horizontal */
  aspect-ratio: 16 / 8; /* Ratio largeur/hauteur */
  display: flex; /* Permet de gérer le contenu interne */
  align-items: center; /* Centre verticalement le contenu */
  justify-content: center; /* Centre horizontalement le contenu */
}

.featured__carousel {
  position: relative;
  height: 100%; /* Adapte la hauteur au parent (.featured) */
  width: 100%; /* Prend toute la largeur disponible */
  overflow: hidden;
}

/* @media (max-width: 1420px) {
  .featured {
    max-width: 1200%;
  }
} */

.featured__carousel-track-container {
  overflow: hidden;
  width: 100%;
}

.featured__carousel-track {
  position: relative;
  display: flex;
  transition: transform 0.5s ease-out;
}

.featured__carousel-button {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  scale: 300%;
  /* border: red solid 1px; */
  cursor: pointer;
  opacity: 75%;
  transition: opacity 0.3s ease;
}
.featured__carousel-button:hover {
  opacity: 100%;
}
.featured__carousel-button-left {
  left: 4rem;
  rotate: -90deg;
}

.featured__carousel-button-right {
  right: 4rem;
  rotate: 90deg;
}

.featured-card {
  flex: 0 0 100%; /* Chaque carte occupe 100% de la largeur du carousel */
  max-width: 100%;
}

.featured-card__click{
  position: relative;
}



.featured-card__click-img-c {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.featured-card__click-img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: 50% 50%; */
}

.featured-card__click-name{
  position: absolute;
  bottom:64%;
  left:7.50%;
  font-size: 3.5rem;
  color: var(--color-bright);
}
