<div class="addProfile">
    <h4 class="addProfile__title">Ajouter un Profil :></h4>
    <form class="addProfile__form">
        <div class="addProfile__form-inputs">
            <input class="addProfile__form-inputs-field" id="profile-name" type="text" name="name" placeholder="Nom du profil..." required>
            <input class="addProfile__form-inputs-field" id="profile-avatar" type="text" name="avatar" placeholder="Avatar du profil..." >
            <input class="addProfile__form-inputs-field" id="profile-min-age" type="date" name="min_age" placeholder="Date de naissance..."  required >
         </div>
         <input class="addProfile__form-button" onclick="{{handler}}" type="button" value="Add" name="todo">
    </form>
</div>

  